@import '../../scss/vars';

.advantages {

	&__slider {
		padding-bottom: 20px;

		.slick-dots {
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);

			button {
				background-color: $grey-color;
			}

			.slick-active {
				button {
					background-color: $secondary-color;
				}
			}
		}
	}

	&__slide {
		margin: 15px 0px;
		padding: 15px;
		border: 1px solid $grey-color;
		border-radius: 10px;
		background: #FEFEFE;
	}

	&__title-box {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&__logo {
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70px;
		height: 70px;
		margin-right: 20px;
		background: #FEFEFE;
		box-shadow: 0px 3px 20px #EAECEF;
		border-radius: 10px;

		img {
			flex: 0 0 auto;
			width: 60%;
			height: 60%;
		}
	}

	&__title {
		font-size: 16px;
		line-height: 26px;
		font-weight: 600;
	}

	&__text-box {
		list-style: disc;
		padding-left: 15px;
	}

	&__descr {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}


	@include respond-from(xxs) {
		&__slider {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0 -10px -20px;
		}

		&__slide {
			width: calc(50% - 20px);
			margin: 0 10px 20px;
		}
	}


	@include respond-from(md) {
		&__slide {
			width: calc(100% / 3 - 20px);
			padding: 25px;
			border: none;
			box-shadow: 0px 3px 20px #EAECEF;
		}

		&__title {
			font-size: 20px;
			line-height: 28px;
		}

		&__text-box {
			padding-left: 20px;
		}

		&__descr {
			font-size: 16px;
			line-height: 26px;
		}


	}

	@include respond-from(lg) {}

	@include respond-from(to-full) {}
}