footer.footer#footer
	.footer__col 
		.footer__logo
			img(src="@img/svg/footer-i-logo.svg", alt="footer logo")
		p.footer__subtitle «Залог Недвиимости» © 2020 год
	.footer__col 
		ul.footer__menu 
			li.footer__el
				a.footer__link(href="/" aria-label="footer menu-link") Займ под залог квартиры
			li.footer__el
				a.footer__link(href="/" aria-label="footer menu-link") Займ под залог комнаты
			li.footer__el
				a.footer__link(href="/" aria-label="footer menu-link") Займ под залог коммерческой недвижимости
	.footer__col 
		ul.footer__menu
			li.footer__el
				a.footer__link(href="/" aria-label="footer menu-link") Займ под залог дома, коттеджа, таунхауса
			li.footer__el
				a.footer__link(href="/" aria-label="footer menu-link") Займ под залог земельного участка
			li.footer__el
				a.footer__link(href="/" aria-label="footer menu-link") Займ под залог гаража
	.footer__col 
		ul.footer__menu
			li.footer__el
				a.footer__link(href="/" aria-label="footer menu-link") Займ под залог доли в недвижимости
			li.footer__el
				a.footer__link(href="/" aria-label="footer menu-link") Рефинансирование кредита под залог недвижимости
	.footer__col
		a.footer__tel(href="tel:+88003334554" aria-label="phone number") 8 800 333 45 54
		p.footer__text Звонок бесплатный





