@import '../../scss/vars';

.footer {
	&__col {
		text-align: center;

		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	&__logo {
		display: inline-block;
		width: 199px;
		height: 52px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__subtitle {
		font-size: 12px;
	}

	&__el {
		&:not(:first-child) {
			margin-top: 10px;
		}
	}

	&__link {
		font-size: 16px;
		line-height: 26px;
	}

	&__tel {
		font-size: 24px;
		font-weight: 600;
		color: $secondary-color;
	}

	&__text {
		font-weight: 600;
	}


	@include respond-from(xxs) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-right: -10px;

		&__col {
			width: calc((100% / 3) - 10px);
			margin-right: 10px;

			&:first-child,
			&:last-child {
				width: 100%;
			}
		}

	}

	@include respond-from(md) {

		&__col {
			width: auto;
			max-width: 190px;
			text-align: left;

			&:first-child,
			&:last-child {
				width: auto;
			}

			&:last-child {
				text-align: right;
			}

			&:not(:first-child) {
				margin-top: 0;
			}
		}

		&__el {
			margin: 0;
		}

		&__link {
			font-size: 14px;
			line-height: 24px;
		}
	}

	@include respond-from(lg) {

		&__col {
			max-width: 220px;
		}

		&__tel {
			font-size: 30px;
		}

		&__text {
			margin-top: 10px;
			font-size: 16px;
		}
	}
}