mixin question(props={})
	.faq__row
		.faq__btn.js-faq-btn 
			.faq__icon
			p.faq__title #{props.title}
		.faq__content 
			p.faq__text #{props.descr}

section.faq
	+question({
		title: 'Вы работаете?',
		descr: 'По всей . Чтобы узнать адрес нашей компании в другом городе. Нажмите на ссылку с названием города в шапке сайта и выберете нужный вам город.'
	})
	+question({
		title: 'Могу ли я заложить недвижимость другого человека?',
		descr: 'По всей . Чтобы узнать адрес нашей компании в другом городе. Нажмите на ссылку с названием города в шапке сайта и выберете нужный вам город.'
	})
	+question({
		title: 'Вы работаете?',
		descr: 'По всей . Чтобы узнать адрес нашей компании в другом городе. Нажмите на ссылку с названием города в шапке сайта и выберете нужный вам город.'
	})