- const menuList =['Преимущества', 'Заявка на получение', 'Вопросы и ответы']

section.navbar.js-sticky
	.container
		.navbar__row
			.navbar__burger.js-burger-btn
				span
			a.navbar__logo(href="/" aria-label='main-logo')
				img(src="@img/svg/navbar-i-logo.svg" alt="logoMob")
			a.navbar__tel(href="/" aria-label="Call btn")
				img(src="@img/svg/navbar-i-tel.svg" alt="logo tel")
			.navbar__btn-box 
				.navbar__contact
					a.navbar__num(href='/' aria-label='tel link') 8 800 333 45 54
					p.navbar__text Звонок бесплатный 
				a.navbar__btn.btn(href="/" aria-label="Call btn") Заказать звонок
			
			nav.navbar__navigation.js-burger-menu
				ul.navbar__list
					each link in menuList
						li.navbar__el
							a.navbar__link(href=`#${link}` aria-label="menu link") #{link}
				