doctype html
html 
	head(lang="en")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='icon' href='files/favicon.ico')
		title Loan Landing
		link(rel="stylesheet" href="css/style.min.css")
	body
		.page
			include pug/navbar/navbar
			include pug/banner/banner
			.container
				.p-t-b
					.title-box.title-box--alt
						h2.h2.title-box__title Преимущества займа под недвижимость
						.title-box__line
						p.title-box__subtitle Получите деньги под залог недвижимости на самых выгодных условиях
					.p-top
						include pug/advantages/advantages
			.section-bg.p-t-b
				.container.container--bg
					.p-t-b
						.title-box
							h2.h2.title-box__title Заявка на получение займа
							.title-box__line
							p.title-box__subtitle 100% одобрение через 20 минут, деньги в течение дня. Вы остаетесь владельцем собственности и пользуетесь ею
						.p-top
							include pug/request/request
			.p-top
				.container
					.title-box
						h2.h2.title-box__title Ответы на популярные вопросы
						.title-box__line
						p.title-box__subtitle Квартира остается вашей — вы можете делать с ней, что угодно

					.p-top
						include pug/faq/faq
					.p-t-b
						.title-box.text-center
							h3.h3.title-box__title Контакты
							.title-box__line
							.contacts
								.contacts__item
									p.contacts__name Адрес:
									a.contacts__descr(href="/" aria-label="contact link") Ленинградский проспект, 31Ас1
								.contacts__item
									p.contacts__name Электронная почта:
									a.contacts__descr(href="mailto:info@autolombard-autozalog.ru" aria-label="contact link") info@autolombard-autozalog.ru
								.contacts__item
									p.contacts__name Часы работы:
									p Ежедневно с 8:00 до 20:00. Прием заявок 24/7
			.section-bg.p-t-b
				.container
					include pug/footer/footer
			.container.text-center.p-t-b
				p Информация на сайте не является публичной офертой. Сервис «ПТС ЗАЙМ» оказывает содействие в подборе финансовых услуг компаний-партнеров и не является финансовым учреждением, банком, микрофинансовой организацией, лизинговой компанией, или ломбардом. Работа сайта autolombard-pts-zaim.ru не связана с осуществлением инвестиционной деятельности. Дополнительные и скрытые комиссии не взимаются. Все права защищены.

			include pug/popup/popup
		script(src="js/app.min.js") 